@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --orange: rgb(222, 94, 15);
  --darkgreen: #005816;
  --darkbg: rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  overflow: hidden;
}

input:focus {
  outline: none;
}

#cover {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.45);
  left: 0;
  top: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#cover>p {
  color: var(--orange);
  font-size: 60px;
  text-align: center;
  font-weight: 200;
}

#lefttop {
  z-index: 43232;
  position: absolute;
  height: 80px;
  width: 400px;
  border-bottom: 1px solid var(--orange);
  border-right: 1px solid var(--orange);
  display: flex;
  background-color: var(--darkbg);
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  color: var(--orange);
  font-size: 25px;
}

#righttop {
  z-index: 43232;
  position: absolute;
  height: 80px;
  width: 150px;
  border-bottom: 1px solid var(--orange);
  border-left: 1px solid var(--orange);
  display: none;
  background-color: var(--darkbg);
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  color: var(--orange);
  font-size: 25px;
  right: 0px;
}

#righttop {
  justify-self: flex-end;
}

#loginwrap {
  background-color: var(--darkbg);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid var(--orange);
  padding: 10px 70px 20px 70px;
}

#loginwrap>* {
  margin: 10px;
  text-align: center;
  color: var(--orange);
}

#loginwrap>h1 {
  font-size: 40px;
}

#name {
  width: 250px;
  height: 45px;
  background-color: transparent;
  border: 1px solid var(--orange);
  border-radius: 30px;
  color: azure;
  font-size: 30px;
}

#login {
  width: 250px;
  height: 45px;
  border: 1px solid var(--orange);
  border-radius: 40px;
  display: flex;
  background-color: var(--orange);
  justify-content: center;
  align-items: center;
  font-weight: bold;
  user-select: none;
  color: black;
  font-size: 28px;
}

#reset {
  width: 250px;
  height: 45px;
  border: 1px solid var(--orange);
  border-radius: 40px;
  display: flex;
  background-color: var(--orange);
  justify-content: center;
  align-items: center;
  font-weight: bold;
  user-select: none;
  color: black;
  font-size: 28px;
}

#wyniki {
  width: 250px;
  height: 45px;
  border: 1px solid var(--orange);
  border-radius: 40px;
  display: flex;
  background-color: var(--orange);
  justify-content: center;
  align-items: center;
  font-weight: bold;
  user-select: none;
  color: black;
  font-size: 28px;
}

#leftbottom {
  z-index: 43232;
  position: absolute;
  height: 200px;
  width: 610px;
  border-top: 1px solid var(--orange);
  border-right: 1px solid var(--orange);
  background-color: var(--darkbg);
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: var(--orange);
  font-size: 25px;
  bottom: 0;
  display: none;
}

.model {
  margin: 5px;
  width: 140px;
  height: 170px;
  border: 1px solid black;
  float: left;
  background-size: cover;
  position: relative;
}

.cost {
  position: absolute;
  bottom: 0px;
  width: 40px;
  height: 40px;
  background-color: var(--darkbg);
  border-right: 1px solid var(--orange);
  border-top: 1px solid var(--orange);
  color: var(--orange);
  display: flex;
  justify-content: center;
  align-items: center;
}

#rightbottom {
  z-index: 43232;
  position: absolute;
  height: 230px;
  width: 400px;
  border-top: 1px solid var(--orange);
  border-left: 1px solid var(--orange);
  background-color: var(--darkbg);
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: 5px;
  padding-top: 0;
  color: var(--orange);
  font-size: 25px;
  bottom: 0;
  right: 0;
  display: none;
}

.hpbar {
  width: 390px;
  height: 34px;
  margin: 3px 0 3px 0;
  border: 2px solid black;
  border-radius: 10px;
}

#coverEnd {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.45);
  left: 0;
  top: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: orange;
}

.hpspan {
  width: 100%;
}

#myhp {
  background-color: rgb(18, 241, 21);
  height: 100%;
  width: 100%;
}

#enemyhp {
  background-color: red;
  height: 100%;
  width: 100%;
}

#energy {
  background-color: yellow;
  height: 100%;
  width: 100%;
}

#results {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  left: 0;
  top: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: orange;
}

#exit {
  width: 250px;
  height: 45px;
  border: 1px solid var(--orange);
  border-radius: 40px;
  display: flex;
  background-color: var(--orange);
  justify-content: center;
  align-items: center;
  font-weight: bold;
  user-select: none;
  color: black;
  font-size: 28px;
  margin: 10px;
}

#energytext {
  left: 50%;
  top: 37px;
  transform: translateX(-50%);
  position: absolute;
  text-align: center;
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

td {
  font-size: 25px;
  border: 1px solid var(--orange);
  text-align: center;
  padding: 3px;
}